<!-- general behavior -->
<script type="module" src="{{ site.baseurl }}/scripts/dist/index.js"></script>
<p style="text-align:center;margin:15px">Prevádzkovateľom webovej stránky je <a href="https://www.ilava.sk" target="blank">Mesto Ilava</a></p>
<footer></footer>
<script>
document.getElementById('searchInput').addEventListener('input', function () {
  const filter = this.value.toLowerCase();
  const datasets = document.querySelectorAll('dataset');

  datasets.forEach(dataset => {
    const title = dataset.querySelector('h3').textContent.toLowerCase();
    dataset.style.display = title.includes(filter) ? '' : 'none';
  });
});  
</script>
